// Font Colors // 
$main_font_color: #777;
$headline_font_color: #58e1c1;
$link_color: #51ddfc;
$border-color: #58e1c1;
$img-border-color : #ccc;
$button-font-color: #fff;

//Button Colors //
$default-button-color:#51ddfc;
$error-button-color: #e4757a;
$info-button-color: #927bc1;
$success-button-color: #63cc82;
$warning-button-color: #fd7856;
$hover-color: #58e1c1;


//Media Quieries//
$break-s : 'min-width: 768px';
